/*****************************************************************************/

/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 html, body {
    height: 100%
}
body {
    
    font: 14px"Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
    margin: 0 auto;
    color: #555
}
a {
    color: #00a;
}
a:hover {
    color: #000;
}
a:visited {
    color: #a0a;
}
.grid {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}
#sitehd {
    position: relative;
    height: 275px;
    color:#fff;
    background-color: #08c
}
#logo {
    font-size: 60px;
    font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 58px 20px 10px;
    text-shadow:3px 3px 0px rgba(0, 0, 0, .6);
}
#logo a, #logo a:link, #logo a:hover, #logo a:active, #logo a:visited {
    color: #fff;
    text-decoration: none;
}
#site-description {
    font-size: 24px;
    padding: 0 20px;
    text-shadow:1px 1px 1px rgba(0, 0, 0, .8);
    display: block;
    text-indent: 2em;
    font-style: italic;
}
.navbar {
    background-color:#363c46;
    box-shadow: 0 0 2px #666;
    position: relative;
}
.navbar nav {
    box-sizing:border-box;
}
.navbar nav a {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    padding: 15px 20px;
    text-decoration: none;
}

.page-home #nav-home,
.page-faq #nav-faq,
.navbar nav a.on,
.navbar nav a:hover {
    background-color: #08c;
    color: #fff;
    text-decoration:none;
}
#head-cont {
    position: relative;
    z-index: 9999;
    height: 230px;
}
.wrap {
    padding-bottom: 60px;
    margin-bottom: -60px;
    min-height: 100%;
    height: auto;
    box-sizing:border-box;
}
main {
    padding: 40px 20px;
    box-sizing:border-box;
}
#site-footer {
    font-size: 14px;
    text-align: center;
    background-color: #e7e7e7;
    line-height: 60px;
    height: 60px;
}
/*****************************************************************************/

/*
/* Home
/*
/*****************************************************************************/
 ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}
ul.posts li {
    line-height: 1.75em;
}
ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}
/*****************************************************************************/

/*
/* Posts
/*
/*****************************************************************************/

/* standard */
 .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}
.post ul, .post ol {
    margin-left: 1.35em;
}
.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}
.post pre code {
    border: none;
}
/* terminal */
 .post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}
.post pre.terminal code {
    background-color: #333;
}